html {
font-size: 10px;
font-family: 'Open Sans', sans-serif;
background-color: rgb(13, 13, 14);
}

h1{
    font-size: 30px;
    text-orientation: center;
    margin: 0;
    background-color:rgb(12, 5, 70);
    color:mintcream;
}
h2{
    font-size: 15px;
    text-decoration-style: none;
    margin: 0;
    background-color: rgb(12, 5, 70);
    color:mintcream;
}
.imagem * {
    margin:auto;
    border: 5px solid rgb(14, 4, 100);
    border-radius: 15px;
}
.apresentacao *  {

    font-size: 20px;
    text-decoration-style: none;
    margin:auto;
    border-radius: 15px;
    color:rgb(14, 4, 100);
}
.caracteristica {
    
    font-size: 15px;
    margin:auto;
    border-radius: 15px;
    color:rgb(14, 4, 100);
}



body{

    width: 50%;
    height: 30%;
    border: 2px solid;
    background-color: rgb(231, 245, 244);
    padding: 30px;
    margin: 60px;
    border-radius: 6px;
    

}
